@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sacramento&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Unna&display=swap%27');
*,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #1D1D1D;
  color: white;
  min-height: 100vh;
}
.active{
  color: white;
  text-decoration: none;
}
